@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 15, 15);
  color: white;
}

/* =============== */
/* === GENERAL === */
/* =============== */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1640px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  height: auto;
}

.section {
  background-color: #0f0f0f;
}

@media all and (max-width: 1279px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media all and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media all and (max-width: 499px) {
  .slider-500 {
    padding: 0;
  }
}

/* ================================= */
/* === INFINITE SCROLL ANIMATION === */
/* ================================= */

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

@keyframes scrollRight {
  to {
    right: -400px;
  }
}

.itemLeft,
.itemRight {
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.itemLeft {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  left: max(calc(200px * 5), 100%);
  animation-name: scrollLeft;
}

.itemL1 {
  animation-delay: calc(30s / 5 * (5 - 1) * -1);
}
.itemL2 {
  animation-delay: calc(30s / 5 * (5 - 2) * -1);
}
.itemL3 {
  animation-delay: calc(30s / 5 * (5 - 3) * -1);
}
.itemL4 {
  animation-delay: calc(30s / 5 * (5 - 4) * -1);
}
.itemL5 {
  animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

.itemRight {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  right: max(calc(300px * 9), calc(100% + 400px));
  animation-name: scrollRight;
}

.item1 {
  animation-delay: calc(30s / 9 * (9 - 1) * -1);
}
.item2 {
  animation-delay: calc(30s / 9 * (9 - 2) * -1);
}
.item3 {
  animation-delay: calc(30s / 9 * (9 - 3) * -1);
}
.item4 {
  animation-delay: calc(30s / 9 * (9 - 4) * -1);
}
.item5 {
  animation-delay: calc(30s / 9 * (9 - 5) * -1);
}
.item6 {
  animation-delay: calc(30s / 9 * (9 - 6) * -1);
}
.item7 {
  animation-delay: calc(30s / 9 * (9 - 7) * -1);
}
.item8 {
  animation-delay: calc(30s / 9 * (9 - 8) * -1);
}
.item9 {
  animation-delay: calc(30s / 9 * (9 - 9) * -1);
}

/* ============== */
/* === SWIPER === */
/* ============== */

.swiper-pagination-bullet {
  background-color: grey !important;
  width: 24px !important;
  height: 3px !important;
  border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

@media all and (min-width: 1400px) {
  .swiper-header {
    font-size: 4.5rem;
  }
}

.swiper-content-clamp {
  padding: clamp(30px, 4.6vw, 80px);
}

.span-stroke {
  -webkit-text-stroke: clamp(1px, 0.1vw, 2px) black;
  color: transparent;
}

/* ==================== */
/* === TESTIMONIALS === */
/* ==================== */

.span-stroke-white {
  -webkit-text-stroke: clamp(1px, 0.1vw, 2px) white;
  color: transparent;
}

/* =============== */
/* === GALLERY === */
/* =============== */

.rotate-left {
  transform: rotate(-10deg);
}

.rotate-right {
  transform: rotate(10deg) translateY(50px);
}

.ribbon {
  padding: clamp(6px, 1vw, 16px);
}
